@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: var(--s) var(--p);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--p);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--s);
  border-radius: 14px;
  border: 3px solid var(--p);
}

.fc-timegrid-axis-cushion {
  max-width: 100px;
  flex-shrink: 1;
  white-space: normal;
}


@tailwind components;
@tailwind utilities;
