name: 'publish'
on:
  push:
    tags:
      - 'v\d+\.\d+\.\d+'

jobs:
  publish-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest] # when suport is added  #[macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - name: Get version
        id: get_version
        uses: battila7/get-version-action@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install Rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
            workspaces: './src-tauri -> target'

      - name: Install webkit2gtk (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y webkit2gtk-4.0
      - name: Install dependencies
        run: bun install

      - name: Adjust version number
        uses: RadovanPelka/github-action-json@main
        with:
          replaceWith: |
            {
              "version": "${{ steps.get_version.outputs.version-without-v }}"
            }

      - uses: tauri-apps/tauri-action@dev
        env:
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tauriScript: 'bun tauri'
          tagName: v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
          releaseName: 'BetterLectio v__VERSION__'
          releaseBody: 'Tidlig beta af BetterLectio appen. Felj og mangler kan forekomme.'
          releaseDraft: false
          prerelease: false
